ol {
  background-color: rgba(237, 158, 174, 255);

  padding: 20px;
  color: white;
}

li {
  background-color: rgba(198, 99, 119, 255);
  list-style-position: inside;
  margin: 10px;
  padding-left: 10px;
}
li span {
  background-color: rgba(159, 52, 74, 255);
  margin-left: 10px;
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
li::marker {
}
