

 * {
    margin: 0;
    padding: 0;
  }
  

.wrap {
    display: flex;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 500px;
    margin: 0 auto;
    
}
h2 {
    position: absolute;
    z-index: -1;
    top:50%;
    transform: translateY(-50%);
}
  

.wrap::before{
    content: "";
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    top:0px;
    left: 0px;
   
    background-color: #212121;
  
    transition: all 1s;
    transform-origin: left;
  }
  
.wrap::after {
    content: "";
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    top:0px;
    right: 0px;
   
    background-color: #212121;
  
    transition: all 1s;
    transform-origin: right;
  }


.wrap:hover::before{
    transition: all 3s;
    transform:rotateY(50deg);
   
}

.wrap:hover::after{
    transition: all 3s;
    transform:rotateY(-50deg);
   
}