
.product{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    width: 200px;
    border: 1px solid black;
    border-radius: 40px;
    margin: 20px;
}


.product img{
    margin-top: 20px;
}


ul{
    list-style: none;
  
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li{
    float: left;
}

.images p{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

